* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

/*
#menu-section {
  border: 1px solid black;
}

#menu-section input {
  display: none;
}

#menu-section label {
  border: 1px solid black;
}

#menu-section label:nth-child(-n+3) {
  font-size: 20px;
}

#menu-section label:nth-last-child(-n+3) {
  font-size: 32px;
}

/*
.main-component {
  border-color: black;
  border-style: solid;
  border-width: 2px;
}

#menu-section {
  position: absolute;
  height: 70px;
  left: 20px;
  top: 20px;
  width: 590px;
}

#data-section {
  position: absolute;
  height: 560px;
  left: 20px;
  top: 100px;
  width: 590px;
}

#display-section {
  position: absolute;
  height: 640px;
  left: 620px;
  top: 20px;
  width: 1280px;
}

#memory-section {
  position: absolute;
  height: 390px;
  left: 20px;
  top: 670px;
  width: 1480px;
}

#keypad-section {
  position: absolute;
  height: 390px;
  left: 1510px;
  top: 670px;
  width: 390px;
}
*/

