/* Begin main components */

.main-component {
  border: solid 1px black;
}

/* End main components */
/* Begin menu section */

#menu-section {
  border: solid 1px black;
  display: flex;
  flex-direction: row;
  height: 70px;
  justify-content: space-around;
  left: 5px;
  position: absolute;
  top: 5px;
  width: 590px;
}

#menu-section label {
  border: solid 1px black;
  line-height: 60px;
  margin: 4% 0.5%;
  text-align: center;
  vertical-align: middle;
}

#load-program, #load-engine, #save-engine {
  flex: 2;
}

#pause, #cycle-once, #cycle-continuously {
  flex: 1;
}

#menu-section input {
  display: none;
}

#menu-section input:not(:checked):hover+span {
  animation: menu-control-over 0.5s;
  background-color: black;
  color: white;
  display: block;
}

#menu-section input[type="radio"]:checked+span {
  background-color: black;
  color: white;
  display: block;
}

@keyframes menu-control-over {
  0% { background-color: rgba(0, 0, 0, 0); }
  100% { background-color: rgba(0, 0, 0, 1); }
}

/* End menu section */
/* Begin data section */

#data-section {
  height: 485px;
  left: 5px;
  position: absolute;
  top: 80px;
  width: 590px;
}

#data-section .data-registers-subsection {
  height: 41.43%;
  width: 100%;
}

#data-section .data-registers-subsection ol {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  list-style: none;
  width: 100%;
}

#data-section .data-registers-subsection li {
  height: 12.25%;
  width: 50%;
}

#data-section .data-registers-subsection li p {
  display: inline-block;
  height: 100%;
  width: 10%;
}

#data-section .data-registers-subsection li samp {
  display: inline-block;
  height: 100%;
  width: 40%;
}

#data-section .other-registers-subsection {
  height: 49.57%;
  width: 100%;
}

#data-section .other-registers-subsection ol {
  height: 100%;
  list-style: none;
  overflow: scroll;
  width: 100%;
}

#data-section .other-registers-subsection li {
  height: 12.25%;
  width: 100%;
}

#data-section .other-registers-subsection li p {
  display: inline-block;
  height: 100%;
  width: 25%;
}

#data-section .other-registers-subsection li samp {
  display: inline-block;
  height: 100%;
  width: 75%;
}

/* End data section */
/* Begin memory section */

#memory-section {
  height: 390px;
  left: 5px;
  position: absolute;
  top: 570px;
  width: 1510px;
}

#memory-section #cells {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 89%;
  overflow: scroll;
  width: 100%;
}

#memory-section #cells div {
  align-items: stretch;
  border: solid 1px black;
  display: flex;
  flex-basis: 9%;
  flex-direction: column;
  height: 18%;
  margin: 1% 0.5%;
  text-align: center;
  width: 9%;
}

#memory-section #cells div samp {
  display: block;
}

#memory-section #cells div samp:first-child {
  flex: 2;
  font-size: 1.25em;
  padding: 5%;
}

#memory-section #cells div samp:last-child {
  color: #666;
  flex: 1;
  font-size: 0.75em;
}

/* End memory section */
/* Begin keypad section */

#keypad-section {
  border:1px solid black;
  display:block;
  height:390px;
  left: 1520px;
  position: absolute;
  top: 570px;
  width:390px;
}

.key {
  border:1px black solid;
  display:inline-block;
  height:85px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 0px;
  margin-top: 10px;
  text-align:center;
  width:85px;
}

.key span {
  display: block;
  font-size:20px;
  margin-top:15%;
}

.key kbd {
  display:block;
  font-size:15px;
}

.key samp {
  display: block;
  font-size: 12px;
  margin-top: 2%;
}

/* End keypad section */
/* Begin widget section */

.top-bar {
  height: 45px;
  width: 100%;
}

.base-widget {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  height: 40px;
  padding: 2.5px;
  width: 110px;
}

.base-widget input {
  display: none;
}

.widget-label-box {
  border: 1px solid black;
  margin: 2.5px;
  padding-top: 3.5px;
  text-align: center;
  width: 30px;
}

.base-widget input:checked+label {
  background-color: black;
  color: white;
}

/* End widget section */
/* Begin display section */

#display-section {
  height: 560px;
  left: 600px;
  position: absolute;
  top: 5px;
  width: 1310px;
}

/* End display section */

.highlight {
  background-color: black;
  color: white;
}

.gyrophare {
  animation: gyrophare-anim 2s infinite;
}

@keyframes gyrophare-anim {
  0% { background-color: rgba(0, 0, 0, 0);
       color: rgba(0, 0, 0, 1); }
  50% { background-color: rgba(0, 0, 0, 1);
        color: rgba(255, 255, 255, 1); }
  100% { background-color: rgba(0, 0, 0, 0);
         color: rgba(0, 0, 0, 1); }
}
